# Objects.
.scons-cache/
*.os
*.obj

# SConstruct
.sconf_temp
.sconsign.dblite
*.pyc

# MacOS
.DS_Store

# Editors
.vscode/

/test/test_main
/test/*.o

log.txt
*log.txt
*.log

project/addons/gv_texture_serializer/bin/*
*.dll
*.exp
*.lib

*.tmp
